@model JMCC_Employee_Track_Record.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Employee</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Full_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Full_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Login_Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Login_Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Logout_Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Logout_Date)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
